In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [118]:
df = pd.read_csv('/home/mamisoa/ITU/L3/Mr_Tsinjo/Sardinas_patterson/codes.csv')

In [119]:
df = df.applymap(lambda x: 1 if x == True else (0 if x == False else x))

In [120]:
df

,length,average_word_length,percentage_of_1,percentage_of_0,percentage_of_01,percentage_of_10,frequency_of_1,frequency_of_0,special,code
0,3,3.33,1.666667,1.666667,0.333333,1.000000,1.501502,1.501502,1.230000e-06,1
1,5,4.00,2.000000,2.000000,0.800000,1.000000,2.500000,2.500000,8.608290e-04,1
2,3,3.00,1.000000,2.000000,0.000000,0.666667,1.000000,2.000000,8.150000e-07,1
3,4,2.75,1.500000,1.250000,0.250000,0.500000,2.181818,1.818182,3.950000e-07,1
4,3,4.00,2.333333,1.666667,0.666667,1.000000,1.750000,1.250000,3.538333e-06,1
...,...,...,...,...,...,...,...,...,...,...
4995,7,3.29,1.857143,1.428571,0.428571,0.571429,3.951368,3.039514,3.362015e-03,0
4996,8,4.12,2.750000,1.375000,0.375000,0.625000,5.339806,2.669903,2.719869e+00,0
4997,10,3.50,2.500000,1.000000,0.500000,0.600000,7.142857,2.857143,4.299438e+00,0
4998,6,3.33,1.833333,1.500000,0.833333,0.666667,3.303303,2.702703,5.591767e-04,0
4999,9,4.56,2.111111,2.444444,0.666667,0.777778,4.166667,4.824561,6.370750e+02,0

In [121]:
X = df.iloc[:, 0:-1].values
Y = df.iloc[:, -1].values

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20,random_state = 0)

In [123]:
clf = RandomForestClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [124]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[460  59]
 [ 77 404]]

In [125]:
accuracy_score(y_test, y_pred)

0.864

In [126]:
import joblib

In [127]:
joblib.dump(clf , "/home/mamisoa/ITU/L3/Mr_Tsinjo/Sardinas_patterson/code.joblib")

['/home/mamisoa/ITU/L3/Mr_Tsinjo/Sardinas_patterson/code.joblib']

In [128]:
modele = joblib.load("/home/mamisoa/ITU/L3/Mr_Tsinjo/Sardinas_patterson/code.joblib")

In [129]:
value = df.drop('code', axis=1).iloc[3990]
value = pd.DataFrame(value).T
print(value)
modele.predict(value)[0]

      length  average_word_length  percentage_of_1  percentage_of_0  \
3990     8.0                 2.75            0.875            1.875

      percentage_of_01  percentage_of_10  frequency_of_1  frequency_of_0  \
3990             0.375               0.5        2.545455        5.454545

       special
3990  0.001945

/usr/lib/python3/dist-packages/sklearn/base.py:413: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

0